<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style>
      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 24px;
      }
    </style>
  </head>
  <body class="bg-gray-100">
    <div class="container">
      <div class="bg-white p-8 rounded-lg shadow-md">
        <h2 class="text-2xl font-bold text-gray-800 mb-4">¡Hola <%= @resource.email %>!</h2>
        <p class="text-gray-600">Nos ponemos en contacto para notificarle que su contraseña ha sido cambiada.</p>
      </div>
    </div>
  </body>
</html>
